section{
    margin: 50px 0px 0px 200px;
}
section .input-group{
    width: 40% !important;
}

.cancel-button{
    width: 15px;
    margin-left: 20px;
}

.form-check{
    padding-left: 0px !important;
}
